.DS_Store
.aws-sam/
.build
samtemplate.toml
*/build/*
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc