name: PR

on:
    pull_request:
      types: [opened, reopened, synchronize]

jobs:
    soundness:
        name: Soundness
        uses: apple/swift-nio/.github/workflows/soundness.yml@main
        with:
            license_header_check_project_name: "SwiftAWSLambdaRuntime"
            shell_check_enabled: false

    unit-tests:
        name: Unit tests
        uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
        with:
            linux_5_8_arguments_override: "-Xswiftc -warnings-as-errors --explicit-target-dependency-import-check error"
            linux_5_9_arguments_override: "-Xswiftc -warnings-as-errors --explicit-target-dependency-import-check error"
            linux_5_10_arguments_override: "-Xswiftc -warnings-as-errors --explicit-target-dependency-import-check error"
            linux_nightly_6_0_arguments_override: "-Xswiftc -warnings-as-errors --explicit-target-dependency-import-check error"
            linux_nightly_main_arguments_override: "-Xswiftc -warnings-as-errors --explicit-target-dependency-import-check error"

    swift-6-language-mode:
        name: Swift 6 Language Mode
        uses: apple/swift-nio/.github/workflows/swift_6_language_mode.yml@main
