name: PR

on:
    pull_request:
      types: [opened, reopened, synchronize]

jobs:
    soundness:
        name: Soundness
        uses: apple/swift-nio/.github/workflows/soundness.yml@main
        with:
            license_header_check_project_name: "SwiftAWSLambdaRuntime"
            shell_check_enabled: false
            api_breakage_check_container_image: "swiftlang/swift:nightly-6.0-jammy"
            docs_check_container_image: "swiftlang/swift:nightly-6.0-jammy"

    unit-tests:
        name: Unit tests
        uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
        with:
            linux_5_8_enabled: false
            linux_5_9_enabled: false
            linux_5_10_enabled: false
            linux_nightly_6_0_arguments_override: "--explicit-target-dependency-import-check error"
            linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"

    integration-tests:
        name: Integration Tests
        # Workaround https://github.com/nektos/act/issues/1875
        uses: apple/swift-nio/.github/workflows/swift_matrix.yml@main
        with:
          name: "Integration tests"
          matrix_linux_command: "./scripts/integration_tests.sh"
    
    swift-6-language-mode:
        name: Swift 6 Language Mode
        uses: apple/swift-nio/.github/workflows/swift_6_language_mode.yml@main
